@font-face {
    font-family: 'avenir-book', 'sans-serif';
    src: url('../../fonts/avenir/Avenir\ Book.ttf') format('ttf');
}
@font-face {
    font-family: 'avenir-black','sans-serif' ;
    src: url('../fonts/avenir/AvenirLTStd-Black.otf') format('ttf');
}